/* Navbar Styles */
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
	position:relative
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
	display: flex;
	justify-content: center;
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.view-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #333333;
}

input[type="text"], input[type="date"], input[type="email"], input[type="tel"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group .radio-group {
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    margin-right: 20px;
}

.error {
    color: red;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,td {
	text-align: center;
}
